* {
  --primary-color: #242e52;
  --text-color: #ffffff;
  --button-color: #01fe7f;
  --button-hover-color: #00d369;
  --buy-button-text-color: #000;
  --price--bg: #010101;
  --clancoins-border: 1px solid #8e9ba9;
  --font-family: "Roboto", sans-serif;
  --font-weight: 400;
  --description-text-size: 18px;
  --padding: 0.5rem;
}

.grid-Jesus .grid-container-offers {
  max-width: 1200px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.grid-Jesus .flex-card {
  display: flex;
  flex-direction: column;
}

.grid-Jesus .image {
  background-size: cover;
  background-position: center;
  height: auto;
  width: 100%;
}

.grid-Jesus .description-wrapper {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  background-color: var(--primary-color);
  height: 115px;
}

.grid-Jesus .description {
  background-color: var(--primary-color);
  font-family: var(--font-family);
  font-size: var(--description-text-size);
  font-weight: var(--font-weight);
  padding-top: var(--padding);
  padding-left: var(--padding);
  max-height: 42px;
  color: var(--text-color);
  word-wrap: break-word;
}

.grid-Jesus .platform-wrapper {
  display: flex;
  flex: content;
  justify-content: flex-start;
}

.grid-Jesus .clancoins-wrapper {
  display: flex;
  justify-content: flex-end;
  grid-row-start: 3;
}

.grid-Jesus .clancoins-card {
  border: var(--clancoins-border);
}

.grid-Jesus .clancoins-coins {
  display: flex;
  flex-direction: row;
}

.grid-Jesus .clancoins-coins-image {
  height: auto;
  width: 54px;
}

.grid-Jesus .clancoins-coins-quantity {
  width: 50%;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 600;
  padding: 0.2rem;
  text-align: center;
}
.grid-Jesus .flex-clancoins {
  font-size: 9px;
  font-weight: var(--font-weight);
  text-transform: uppercase;
  padding: 2px;
}

.grid-Jesus .container-price {
  display: flex;
  justify-content: center;
}

.grid-Jesus .buy-button {
  background-color: var(--button-color);
  width: 50%;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.grid-Jesus .buy-button:hover {
  background-color: var(--button-hover-color);
}

.grid-Jesus .buy-button-text {
    padding: 0.4rem;
  }

.grid-Jesus .button-cart:link,
.grid-Jesus .button-cart:visited {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-family: Arial, sans-serif;
  color: var(--buy-button-text-color);
  text-decoration: none;
}

.grid-Jesus .buy-button-cart {
  height: 16px;
  width: 16px;
  padding-right: var(--padding);
}

.grid-Jesus .button-cart:hover {
  color: var(--text-color);
}

.grid-Jesus .grid-price-wrapper {
  display: flex;
  background-color: var(--price--bg);
  font-family: Arial, sans-serif;
  font-weight: var(--font-weight);
  align-items: center;
  justify-content: center;
  width: 50%;
}

.grid-Jesus .grid-original-price {
  display: flex;
  text-align: center;
  justify-items: center;
  font-size: 14px;
  padding: 0.3rem;
  color: #55545a;
  text-decoration: line-through;
  font-weight: var(--font-weight);
}

.grid-Jesus .price {
  display: flex;
  font-size: 20px;
  color: var(--text-color);
  font-weight: var(--font-weight);
  text-align: center;
  padding: 0.3rem;
}

.grid-Jesus .mxn {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #55545a;
  padding: 0.3rem;
}

@media screen and (max-width: 700px) {
  .grid-Jesus .grid-container-offers {
    width: 100%;
    margin: auto;
    padding: var(--padding);
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 13rem), 1fr));
  }

  .grid-Jesus .description-wrapper {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: var(--primary-color);
    height: 90px;
  }

  .grid-Jesus .description {
    background-color: var(--primary-color);
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: var(--font-weight);
    padding-top: var(--padding);
    padding-left: var(--padding);
    max-height: 24px;
    color: var(--text-color);
    word-wrap: break-word;
  }

  .grid-Jesus .container-price {
    display: flex;
    justify-content: center;
    height: 38px;
  }

  .grid-Jesus .buy-button {
    background-color: var(--button-color);
    width: 50%;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .grid-Jesus .buy-button:hover {
    background-color: var(--button-hover-color);
  }

  .grid-Jesus .button-cart:link,
  .grid-Jesus .button-cart:visited {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: var(--buy-button-text-color);
    text-decoration: none;
  }

  .grid-Jesus .button-cart:hover {
    color: var(--text-color);
  }

  .grid-Jesus .grid-price-wrapper {
    display: flex;
    background-color: var(--price--bg);
    font-family: Arial, sans-serif;
    font-weight: var(--font-weight);
    align-items: center;
    justify-items: center;
    width: 50%;
  }

  .grid-Jesus .grid-original-price {
    display: flex;
    text-align: center;
    justify-items: center;
    font-size: 10px;
    padding: .3rem;
    color: #55545a;
    text-decoration: line-through;
    font-weight: var(--font-weight);
  }

  .grid-Jesus .price {
    display: flex;
    font-size: 14px;
    color: var(--text-color);
    font-weight: var(--font-weight);
    text-align: center;
    padding: 0.1rem;
  }

  .grid-Jesus .mxn {
    display: flex;
    align-items: center;
    font-size: 10px;
    color: #55545a;
    padding: 0.4rem;
  }
}


@media screen and (max-width: 465px) {
  .grid-Jesus .grid-container-offers {
    width: 100%;
    margin: auto;
    padding: var(--padding);
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 10rem), 1fr));
  }

  .grid-Jesus .description-wrapper {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: var(--primary-color);
    height: 70px;
  }

  .grid-Jesus .description {
    background-color: var(--primary-color);
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: var(--font-weight);
    padding-top: var(--padding);
    padding-left: var(--padding);
    max-height: 24px;
    color: var(--text-color);
    word-wrap: break-word;
  }

  .grid-Jesus .container-price {
    display: flex;
    justify-content: center;
    height: 46px;
  }

  .grid-Jesus .buy-button {
    background-color: var(--button-color);
    width: 50%;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .grid-Jesus .buy-button:hover {
    background-color: var(--button-hover-color);
  }

  .grid-Jesus .button-cart:link,
  .grid-Jesus .button-cart:visited {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-family: Arial, sans-serif;
    color: var(--buy-button-text-color);
    text-decoration: none;
  }

  .grid-Jesus .button-cart:hover {
    color: var(--text-color);
  }

  .grid-Jesus .buy-button-text {
    padding: 0.2rem;
  }

  .grid-Jesus .grid-price-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--price--bg);
    font-family: Arial, sans-serif;
    font-weight: var(--font-weight);
    align-items: center;
    justify-items: center;
    width: 50%;
  }

  .grid-Jesus .grid-original-price {
    display: flex;
    text-align: center;
    justify-items: center;
    font-size: 8px;
    padding: 0.1rem;
    color: #55545a;
    text-decoration: line-through;
    font-weight: var(--font-weight);
  }

  .grid-Jesus .price {
    display: flex;
    font-size: 12px;
    color: var(--text-color);
    font-weight: var(--font-weight);
    text-align: center;
    padding: 0.1rem;
  }

  .grid-Jesus .mxn {
    display: flex;
    align-items: center;
    font-size: 8px;
    color: #55545a;
    padding: 0.1rem;
  }
}

@media screen and (max-width: 368px) {
  .grid-Jesus .grid-container-offers {
    width: 100%;
    margin: auto;
    padding: var(--padding);
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 8rem), 1fr));
  }

  .grid-Jesus .description-wrapper {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: var(--primary-color);
    height: 70px;
  }

  .grid-Jesus .description {
    background-color: var(--primary-color);
    font-family: var(--font-family);
    font-size: 10px;
    font-weight: var(--font-weight);
    padding-top: var(--padding);
    padding-left: var(--padding);
    max-height: 24px;
    color: var(--text-color);
    word-wrap: break-word;
  }

  .grid-Jesus .container-price {
    display: flex;
    justify-content: center;
    height: 46px;
  }

  .grid-Jesus .buy-button {
    background-color: var(--button-color);
    width: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-items: center;
    padding-top: 0;
  }

  .grid-Jesus .buy-button:hover {
    background-color: var(--button-hover-color);
  }

  .grid-Jesus .button-cart:link,
  .grid-Jesus .button-cart:visited {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-family: Arial, sans-serif;
    color: var(--buy-button-text-color);
    text-decoration: none;
  }

  .grid-Jesus .button-cart:hover {
    color: var(--text-color);
  }

  .grid-Jesus .grid-price-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--price--bg);
    font-family: Arial, sans-serif;
    font-weight: var(--font-weight);
    align-items: center;
    justify-items: center;
    justify-content: normal;
    width: 50%;
  }

  .grid-Jesus .grid-original-price {
    display: flex;
    align-items: flex-end;
    justify-items: center;
    font-size: 8px;
    padding: 0.1rem;
    color: #55545a;
    text-decoration: line-through;
    font-weight: var(--font-weight);
  }

  .grid-Jesus .price {
    display: flex;
    font-size: 10px;
    color: var(--text-color);
    font-weight: var(--font-weight);
    text-align: center;
    padding: 0.1rem;
  }

  .grid-Jesus .mxn {
    display: flex;
    align-items: center;
    font-size: 8px;
    color: #55545a;
    padding-left:0.1rem
  }
}